:root {
  --quad: cubic-bezier(0.48, 0.04, 0.52, 0.96);
  --quart: cubic-bezier(0.76, 0.00, 0.24, 1.00);
  --quint: cubic-bezier(0.84, 0.00, 0.16, 1.00);
  --color-bg: #323232;
  --color-selected: #46a0f5;
  --color-border: #3e3e3e;
  --color-hover: #292929;
  --color-dark: #2b2b2b;
  --color-night: #1f1f1f;
  --color-text: #a1a1a1;
  --colorBorder: #808080;
  --colorZ: #4583a6;
  --colorA: #232931;
  --colorB: #393e46;
  --colorC: #4ecca3;
  --colorD: #eeeeee;
  --colorLimit: #e25433;
  --colorFree: #00c105;
  --colorFreeText: #33b936;
  --fen-root: 8;
  --border-grid: 1px solid var(--color-border);
  font-size: 12px;
  font-family: Rubik;
  color: var(--colorZ);
  margin: .5rem .25rem .5rem .25rem;
  background-color: var(--colorA);
}

.app {
  width: 700px;
  max-width: 700px;
}

.curPoint {cursor: pointer;}
.curMove {cursor: move;}

.logic {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: .5rem .25rem 0px 3rem;
  font-size: 1.25rem;
}

.userFEN {
  width: 100%;
}

.inputFEN {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  width: 90%;
  margin: 0px 5%;
}

.FENminor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.FENminorKey {
  /* margin: .25rem 0px; */
  font-size: .75rem;
  width: 49.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem .5rem .25rem .5rem;
  color: var(--colorB);
  height: 1rem;
  overflow: hidden;
  background-color: var(--color-night);
}

.FENput {
  margin: .25rem 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0px .25rem 0px .5rem;
  color: var(--color-text);
  height: 2rem;
  background-color: var(--color-night);
  border: 1px solid var(--color-night);
}
.FENput:focus {
  outline-width: 0px;
  border-color: var(--color-selected);
}

.navLetter {
  display: flex;
  align-items: center;
}

.navAnnoHigh {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
  padding: .25rem 0px 0px .25rem;
  width: 100%;
}

.navAnnoType {
  /* font-size: 1rem; */
  font-weight: 700;
  margin-right: .5rem;
}

.navAnnoMid {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
}

.navAnnoLow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0px .25rem .25rem 0px;
}

[class^="navCell"] {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-night);
  cursor: pointer;
  user-select: none;
  /* border: 1px solid var(--colorB); */
  border: 1px solid var(--colorA);

}

.navCell-Active {
  background-color: var(--colorB);
  border-color: var(--color-selected);
}

.navCell-Idle {
  color: var(--colorBorder);
  background-color: var(--color-night);
}

.navCell-Char {
  color: var(--colorLimit);
  background-color: var(--colorB);
  border-color: var(--colorLimit);
  /* border-color: var(--color-selected; */
}

.navCell-Path {
  color: var(--colorFreeText);
  background-color: var(--colorB);
  border-color: var(--colorFree);
  /* border-color: var(--color-selected; */
}

.navCell-Selected {
  color: var(--colorA);
  background-color: var(--colorD);
}

.navGrid {
  margin: 1rem 5%;
  /* border: var(--border-grid); */
  display: grid;
  grid-row-gap:    0rem;
  grid-column-gap: 0rem;
  grid-template-rows:    repeat(var(--fen-root), 1fr);
  grid-template-columns: repeat(var(--fen-root), 1fr);
}

.gameElts {
  display: flex;
  justify-content: flex-end;
  margin: .5rem 5%;
}

.navPreview, .navPad {
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
  display: grid;
  grid-row-gap:    .25rem;
  grid-column-gap: .25rem;
  grid-template-rows:   1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.chessPreview {
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
  display: grid;
  grid-row-gap:    0px;
  grid-column-gap: 0px;
  grid-template-rows:   1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

[class^="navPreview-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-night);
  background-color: var(--color-night);
  color: var(--colorB);
  /* border: var(--border-grid); */
  /* border-radius: .25rem; */
  /* cursor: pointer; */
}

.navPreview-Active {
  color: var(--colorB);
  border-color: var(--colorB);
}

.navPreview-Idle {
  background-color: var(--color-night);
}

[class^="chessPreview-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: var(--colorB);
  /* border: var(--border-grid); */
  /* border-radius: .25rem; */
  /* cursor: pointer; */
}

.chessPreview-ActiveA {
  /* color: var(--colorB); */
  background-color: var(--colorB);
  border-color: var(--colorB);
}

.chessPreview-IdleA {
  /* background-color: grey; */
  border-color: var(--colorB);
  background-color: var(--colorB);
}

.chessPreview-ActiveB {
  background-color: var(--color-night);
  color: var(--colorB);
  border-color: var(--color-night);
}

.chessPreview-IdleB {
  background-color: var(--color-night);
  border-color: var(--color-night);
  /* background-color: var(--colorA); */
}

.noChess {
  opacity: 0;
}

.teamB {
  color: var(--color-selected);
}

.teamA {
  color: var(--colorLimit);
}

/* .navPad {
  width: 10rem;
  height: 10rem;
  display: grid;
  grid-row-gap:    .5rem;
  grid-column-gap: .5rem;
  grid-template-rows:   1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
} */

[class^="navPad-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-night);
  background-color: var(--color-night);
  color: var(--colorB);
}

[class^="navPad-"]:hover {
  /* background-color: var(--color-hover); */
}

.navPad-Corner {
  /* font-size: 1.25rem; */
  background-color: var(--color-night);
}

.navPad-Bumper {
  /* font-size: 1.5rem; */
  background-color: var(--color-night);
}

.navPad-Center {
  /* background-color: var(--color-night); */
  /* font-size: 2rem; */
  /* border: 2px solid red; */
}

svg {
  width: 100%;
  height: 100%;
}

.gameWrap {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.bumper {
  fill: gray;
}

.bumpIcon {
  fill: #b4b4b4;
}

.bumpCore, .bumpFrame {
  fill: none;
}

.bumpCore {
  stroke: #000;
  stroke-miterlimit: 10;
}

.navstringWrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
  margin-top: .25rem;
}

.NAVinput {
  box-sizing: border-box;
  display: flex;
  padding: .25rem .5rem;
  color: var(--color-text);
  width: 8rem;
  height: 2rem;
  border-radius: .25rem 0rem 0rem .25rem;
  background-color: var(--color-night);
  border: 1px solid var(--color-night);
}
.NAVinput:focus {
  outline-width: 0px;
  border-color: var(--color-selected);
}

[class^="navBtn"] {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  background-color: var(--color-night);
  border: 2px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^="navBtn"]:nth-child(odd) {
  /* background-color: red; */
  border-radius: 0px .25rem .25rem 0px;
  padding-right: .25rem;
  width: 2.5rem;
}

.navBtn-ValidActive {
  background-color: var(--color-selected);
  border-color: var(--color-selected);
  color: var(--colorA);
}

.navBtn-ValidIdle {
  background-color: var(--colorB);
  border-color: var(--colorB);
  color: var(--color-night);
}

.navBtn-Invalid {
  color: var(--colorB);
  border-color: var(--color-night);
  background-color: var(--color-night);
}

.userInput {
  display: flex;
  padding: .25rem .5rem;
  color: var(--color-text);
  width: 80%;
  background-color: var(--color-night);
  border: 2px solid var(--color-border);
}

.annoBounds {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.label {
  display: flex;
  justify-content: flex-end;
  margin-right: .5rem;
  width: 3rem;
  font-size: 1rem;
  font-weight: 700;
}

.anno {
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-border);
  background-color: var(--color-dark);
  padding: .5rem .25rem;
  min-width: 80%;
  /* width: auto; */
  margin: .5rem .25rem;
}

.modkeyWrap {
  /* margin-right: 1rem; */
  /* border: 2px solid blue; */
  width: 1rem;
  height: 6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: .25rem;
}

[class^="modkey-"] {
  box-sizing: border-box;
  background-color: var(--color-night);
  border: 2px solid transparent;
  width: 100%;
  /* margin: .25rem 0px; */
}

.modkey-Shift {
  /* opacity: .5; */
  background-color: var(--colorB);
  border-color: var(--colorFree);
}

.modkey-Ctrl {
  /* opacity: .5; */
  background-color: var(--colorB);
  border-color: var(--colorLimit);
}

.modkey-Alt {
  /* opacity: .5; */
  background-color: var(--colorB);
  border-color: var(--color-selected);
}

.modkey-Meta {
  /* opacity: .5; */
  background-color: var(--colorB);
  border-color: var(--colorD);
}

.modkey-Idle {
  background-color: var(--color-night);
}

@media only screen and (max-width: 420px) {
  .gameElts {
    display: flex;
    flex-wrap: wrap;
  }
  .navAnnoLow {
    display: none;
  }
  .navAnnoType {
    display: none;
  }
  .NAVinput {
    width: 80%;
  }
  .navAnnoMid {
    margin: .25rem 0px .25rem 0px;
  }
  .navstringWrap {
    width: 100%;
    margin: 0px 0px .5rem 0px;
    /* margin-bottom: .5rem; */
  }
  .chessPreview, .navPreview, .navPad {
    width: 30%;
    margin-right: .6rem;
  }
  .modkeyWrap {
    margin-right: 0px;
    order: 1;
    flex-direction: row;
  }
}
